<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/estilo.css">
	<title>Detalhe</title>
	<link rel="shortcut icon" type="image/png" href="../static/iconfacul.png">
	<link href="https://fonts.googleapis.com/css?family=Vesper+Libre" rel="stylesheet">
		<meta charset="utf-8">
</head>
<body>
<header>
	<nav >
		<div class= "barra-header">
			<a href="index"><img class="img-header" src="../static/logo-branco.png"></a>

			<ul>
				<li><a class = "a-header" href="lista_curso" >Graduação</a></li>
				<li><a class = "a-header" href="detalhe">Detalhe de Curso</a></li>
				<li><a class = "a-header" href="disciplina">Contato</a></li>
				<li><a class = "a-header" href="noticias">Noticias</a></li>
										
			</ul>
			<div class="teste"><a class="login" href="#">Login</a></div>
		</div>
		</nav>
	
	</header>
	
	<br>
	<br>

	<div class="fundo">
		<h1>Administração</h1>
		<p>O curso é voltado para as exigência do mercado de trabalho atual e que aborda de forma ampla o universo corporativo.Você vai aprender a definir as melhores estratégias para o bom funcionamento das empresas, para gerar lucros, controlar gastos e se destacar com qualidade entre as concorrentes.
<br>
<br>
 	    Gerir equipes, negociar com fornecedores, solucionar diferentes problemas, atingisr resultados positivos, aumentar a produtividade e aplicar novas tecnologias nas organizações também são funções do administrador. 
<br>
<br>
        O objetivo é preparar gestores, lideres e empreendedores para organizações públicas e privadas, envolvendo os processos de planejamento, organização, direção e controle de atividades e tomada de decisões.s
<br>
<br>
        <b>Mercado de Trabalho:</b> O campo de trabalho para os administradores é vasto: podem atuar em empresas privadas ou públicas (como empregados ou prestadores de serviços), nas áreas administrativas, financeira e outras afins, realizando as mais variadas atividades de gestão. Outro ponto forte da carreira é a possibilidade de exercer o lado empreendedor, tão necessário nos dias atuais, criando e desenvolvendo estratégias necessárias para a condução e controle dos empreendimentos.

<br>

		<h1>Análise e Desenvolvimento de Sistemas</h1>
		<p>Entender as necessidades das empresas é fundamental para fazê-las crescer e gerar bons resultados. Desta maneira, um dos caminhos para alavancar os negócios e se destacar no mercado de trabalho é o da Tecnologia.
<br>
<br>
        O curso promove um entendimento completo da área, oferecendo o conhecimento necessário para analisar, projetar, desenvolver, testar, implantar e manter todos os tipos de sistemas computacionais de informação que prepara você  para atuar em todas as etapas de projetos de tecnologia da informação – concepção, gerência e manutenção.
<br>
<br>
        O aprendizado consiste em aulas teóricas e práticas, ministradas por professores com grande vivência de mercado e ampla experiência acadêmica. Isso permite que você desenvolva habilidades compatíveis com as necessidades do mundo corporativo.<br><br> 

	    <b>Mercado de Trabalho:</b>São muitas as organizações que necessitam integrar sistemas de bancos de dados e soluções em tecnologia da informação. Para isso, buscam o profissional desenvolvedor de soluções de software, capaz de utilizar técnicas, métodos, ferramentas e linguagens de programação diversas para criar aplicações eficientes e modernas.</p>
<br>

		<h1>Sistemas de Informação</h1>
		<p>A Graduação de Sistemas de Informação prepara o aluno para ser um profissional transformador do mercado, desenvolvendo soluções inovadoras e criativas na construção e utilização de Sistemas de Informação.
<br>
<br>
        O aluno aprenderá os conceitos teóricos e usos práticos da área, irá acompanhar as principais inovações tecnológicas do mercado e habilitar a sua capacidade empreendedora.
<br>
<br>
        O objetivo é formar profissionais capazes de atuar na área de Tecnologia da Informação, criando práticas tecnológicas para determinar o fluxo de informações com o desenvolvimento de software e no gerenciamento de sistemas informatizados.</p>
<br>
<br>

        <p><b>Mercado de Trabalho:</b> O mercado continua aquecido e está em expansão devido ao crescente acesso das pessoas à banda larga no País e fora dele.
<br>
<br>

        O profissional desta área pode atuar em qualquer tipo de empresa de quase todos os setores, de bancos e organizações de saúde a empresas públicas e de comércio eletrônico. Alguns cargos que a graduação pode gerar são: Analista de Sistemas, Administrador de Dados, Gerente de Sistemas e Processos de Gerente de TI.
<br>
<br>
        Uma das áreas mais em alta é a de Big Data, voltada ao levantamento do perfil de um público-alvo a partir de informações publicadas na internet. Outro segmento que se fortalece é o de educação a distância. A maior demanda está nos grandes centros, que concentram os maiores desenvolvedores de software.</p>

		<h1>Redes de Computadores</h1>
		<p>Cada vez mais as empresas precisam lidar com diferentes tipos de redes, como Wi-Fi, intranet, dispositivos móveis conectados, entre outros. Com o curso de Redes de Computadores, o aluno estará preparado para analisar, projetar, instalar e administrar soluções para sistemas eficientes e seguros em projetos de redes locais e de longa distância.
<br>
<br>
        Aprende-se a realizar controles de tráfego e implementar tecnologias de segurança para garantir o bom funcionamento dos sistemas de comunicação de dados, com competência para atuar em empresas de pequeno e grande porte.
<br>
<br>
        O aluno terá uma visão abrangente da área, em que vai aprender os conceitos em laboratório, desenvolver as habilidades de diagnóstico e implementar e administrar a infraestrutura e serviços de redes.
<br>
<br>
        <b>Mercado de Trabalho:</b> A procura por profissionais desta área só cresce. De acordo com a Softex, até 2020 o Brasil terá um déficit de cerca de 480 mil profissionais de tecnologia da informação (TI). Portanto, há um mar de oportunidades a ser desbravado por quem se preparar.
<br>
<br>
        As oportunidades de trabalho estão distribuídas por áreas de TI de empresas públicas e privadas, empresas de telecomunicações e provedores de acesso. O profissional também pode atuar como autônomo.
<br>
<br>
        As principais áreas de atuação são: Analista de Redes, Supervisor de Redes de Computadores, Supervisor Técnico em Configuração e Manutenção de Redes de Computadores, Gerente de Suporte de Redes, Arquiteto de Redes Fixas e Redes Móveis, Administrador de Sistemas Operacionais e Analista de Segurança de Redes.</p>
<br>
<br>        
	</div>

</body>
</html>