<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/estilo.css">
	<title>Lista de Cursos</title>

</head>
<body>
	<header>
	<nav >
		<div class= "barra-header">
			<a href="index"><img class="img-header" src="../static/logo-branco.png"></a>

			<ul>
				<li><a class = "a-header" href="lista_curso" >Graduação</a></li>
				<li><a class = "a-header" href="detalhe">Detalhe de Curso</a></li>
				<li><a class = "a-header" href="disciplina">Contato</a></li>
				<li><a class = "a-header" href="noticias">Noticias</a></li>
										
			</ul>
			<div class="teste"><a class="login" href="#">Login</a></div>
		</div>
		</nav>
	
	</header>
	
	<br>
	<br>
<div class="banner">
	<div class="txt-banner1">
				<img src="../static/vestibular_2019.png">
			</div>
			<button class="btn-conheca" > <a href="lista_curso"> Conheça nossos cursos </a></button>
		<img  class ="banner-index" src="../static/banner1.png">
		
	</div>

	<div>
		<H1>POR QUE A IMPACTA REVOLUCIONA O SEU FUTURO?</H1>
		<p class="txt-graduacao">Há 30 anos no mercado, a Faculdade Impacta tem alto nível de empregabilidade nas maiores empresas do País.</p>

		<p class="txt-graduacao">Segundo pesquisa realizada pelo LinkedIn, a Instituição possui 98,2% de contratação no segundo semestre do curso.</p>
	</div>

	<div class="videos">
		<div class="video1">
			<video  width="400px" height="380px" controls>
				<source src="../static/SMARTCLASS.mp4" type="video/mp4">
				<source src="../static/SMARTCLASS.ogg" type="video/ogg">
			</video>
		</div>
		<div class="video2">
			<video  width="400px" height="380px" controls>
				<source src="../static/cadeia.mp4" type="video/mp4">
				<source src="../static/cadeia.ogg" type="video/ogg">
			</video>
		</div>
	</div>

<div class="ribbon4">
			
		</div>

</body>
</html>