<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/estilo.css">
	<title>Noticias</title>
	<link rel="shortcut icon" type="image/png" href="../static/iconfacul.png">
	<link href="https://fonts.googleapis.com/css?family=Vesper+Libre" rel="stylesheet">
	<meta charset="utf-8">
</head>
<body>
	<header>
	<nav >
		<div class= "barra-header">
			<a href="index"><img class="img-header" src="../static/logo-branco.png"></a>

			<ul>
				<li><a class = "a-header" href="lista_curso" >Graduação</a></li>
				<li><a class = "a-header" href="detalhe">Detalhe de Curso</a></li>
				<li><a class = "a-header" href="disciplina">Contato</a></li>
				<li><a class = "a-header" href="noticias">Noticias</a></li>
										
			</ul>
			<div class="teste"><a class="login" href="#">Login</a></div>
		</div>
		</nav>
	
	</header>
	<br>
	<br>

	<div class="fundo">
		<h1><p><b>Faculdade Impacta abre inscrições para vestibular</h1></p></b>

		<p>A Faculdade Impacta Tecnologia está com inscrições abertas para ovestibular do 2° semestre, que seguem até 22/07. As provas acontecem em 25/07.<br><br>

		Os cursos oferecidos são de bacharelado e graduação tecnológica, com duração de 2 a 2,5 anos, com ênfase em Sistemas de Informação e Administração, Redes de Computadores, Banco de Dados,Desenvolvimento de Aplicações para Internet e Tecnologia em Design de Mídia Digital.<br><br>

		O processo de seleção consiste em uma prova deconhecimentos gerais (Português, Matemática e Inglês) e outra deconhecimentos específicos em Informática. Na pontuação serãoconsiderados também os cursos técnicos já concluídos e a atuação profissional, por meio de análise do currículo, que deverá sercadastrado pelo candidato no site <a href="www.impacta.edu.br">impacta.edu.br</a><br><br>

		A faculdade também está com as inscrições abertas para o processo seletivo doscursos de pós-graduação em Engenharia de Software, Business Intelligence, Design Gráfico, Gestão e Tecnologia em Segurança da Informação, Gestão de Projetos, Arquitetura da Informação, Fraudes e Forense Computacional, Logística Empresarial - Gestão da Supply Chain, Governança Avançada de TI e Consultoria e Tecnologia Web. Para se inscrever no vestibular é preciso pagar uma taxa de 90 reais. Mais informações podem ser obtidas pelo telefone: 11 3262-5007.</p><br><br>
		<div class="imagem"><img src="../static/vestibular.jpg" alt="Imagem Vestibular Impacta"></div>
		<br><br>
	
	
	</div>

</body>
</html>